#block {
    width: 300px;
    height: 300px;
    background: red;
    margin: auto;
    box-shadow: 5px 10px lightgrey;
}
/*20 minutes I didn't know how to make the box atg first but I figured it out*/ 